*
{
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0vw auto;
    width: 100%;
    color: #C5C6C7; 
    background-color: #0B0C10;
    font-family: 'Roboto', sans-serif;
}
@media(min-width:800px)
{
    body
    {
        width: 100%;    
    }
}

nav
{
    background-color: #0B0C10;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
}

#lineStrike
{
    width: 100%;
    background-color: #45A29E;
    height: 2px;
    border-top: 5px #0B0C10 solid;
    border-bottom: 5px #0B0C10 solid;
    border-right-width: 0px;
    border-left-width: 0px;
}

nav ul{
    font-family: 'Ibarra Real Nova', serif;
    padding: 0vw;
    list-style: none;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
}
nav ul li{
    display: inline;
    margin-right: 2vw;
    font-size: 3vw;
    align-content: center;
    border: 1vw #0B0C10 solid;
}

footer
{
    text-align: center;
    background-color: #0B0C10;
    border-bottom-left-radius: 1vw;
    border-bottom-right-radius: 1vw;
}

.titleBlock
{
    
}

.titleBlock h1
{
    text-align: center;
    font-size: 2vw;
}

a {
    text-decoration: none;
    color: #C5C6C7;
}
a:hover{
    text-decoration: underline;
    color: #FAFBFC;
}

.container
{
    background-color: #0B0C10;
    padding: 1vw;
}

#profilePicture
{
    padding: 1vw;
    background-color: #1F2833;
}

#profilePicture h1
{
    font-family: 'Ibarra Real Nova', serif;
    text-align: center;
    font-size: 2.5vw;
}

#profilePicture h2
{
    text-align: center;
}

#profilePicture img
{
    background-color: #1F2833;
    width: 20vw;
    height: 20vw;
    border-radius: 15vw;
    
}
@media(min-width:800px)
{
    #profilePicture img
    {
        width: 13vw;
        height: 13vw;
    }
}

#overlay img
{
    width: 85.6vw;
    height: 64.7vw;
    z-index: 2;
    border-radius: 2vw;
    background-size: contain;
    position: absolute;
    opacity: 0.0;
    transition: 0.5;
}
@media(min-width:800px)
{
    #overlay img
    {
        width: 37.8vw;
        height: 28.7vw;
    }
}
@media (min-width:1000px)
{
    #overlay img
    {
        width: 25.35vw;
        height: 19.5vw;
    }
}

#overlay img:hover
{
    opacity: 0.5;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h1 {
    font-size: 1.5em;
    line-height: 1.4em;
}

footer{
    border-top: 1 px solid #d5d5d5;
    font-size: .8em;
}

ul.posts
{
    background-size: contain;
    padding: 1vw;
    align-content: space-around;
}

@media (min-width:800px)
{
    ul.posts
    {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1vw;
    }
    
    
}
@media (min-width:1000px)
{
    ul.posts
    {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

ul.posts li
{
    width: 100%;
    border-radius: 2vw;
    background-position: center center;
    background-size: cover;
    list-style: none;
}


ul.posts .logo img
{
    width: 75%;
    height: 75%;
    
    position: relative;
    top: 50%;
    left: 10%;
}

/* POST PAGE CSS */

.post .banner
{
    width: 102.2%;
    height: 25vw;
    background-size: cover;
    background-position: center;
    padding: 0px;
    position: relative;
    right: 1.1%;
}

.post .banner img
{
    width: 25vw;
    height: 25vw;
    
    display: flex;
    justify-content: center;
    align-items: center
}

.post .textCol
{
    width: 70%;
}

.post li
{
    list-style: none;
}

.post ul
{
    display:flex;
    justify-content: space-around;
}

.post .postInfo
{
    margin: 2vw;

    display: flex;
    justify-content: space-around;
    line-height: 3vw;
    font-size: 2vw;
}

.post .description
{
    margin: 3vw;
    text-align: center;
    font-size: 1.5vw;
}

.post .description ul
{
    list-style: circle;
    display: block;
}

.post .description li
{
    list-style: circle;
    text-align: left;
}

.post .description h3
{
    line-height: 7.5vw;
}

.post .imageCol
{
    padding: 1vw;
    align-items: center;
    justify-content: space-around;
}

.post .imageCol ul
{
    display: flex;
    flex-direction: column;
}

.post .imageCol .mobileVertical
{
    
    
}

.post .imageCol .mobileVertical img 
{
    width: 15vw;
    height: 30vw;
    position: relative;
}

.post .imageCol .mobileHorizontal img 
{
    width: 30vw;
    height: 15vw;;
    position: relative;
}

.post .imageCol .pc img
{
    width: 30vw;
    height: 30vw;
    position: relative;
}
