@import 'https://fonts.googleapis.com/css?family=Open+Sans';

html
{
    background-color: #88BBD6;
}

title
{
    margin: 5em auto;
    margin-top: 1em;
    font-size: 3em;
}

intro
{
    font-size:2em;
}

h1
{
    font-size: 2em;
}

body
{
  font-family: 'Open Sans', sans-serif;
  margin: 1em auto;
  margin-top: 1em;
  width: 70%;

}

.container
{
    padding: 1em;
}

.content
{
  background: #E9E9E9;
}

nav ul
{
  font-family: 'Open Sans', sans-serif;
  padding: opx;
  list-style: none;
  font-weight: bold;
  font-size: 2em;
  display: flex;
  justify-content: space-between;
}

footer ul
{
  padding: opx;
  list-style: none;
  font-weight: bold;
}

nav ul li
{
  display: inline;
  margin-right: 20px;
}

footer ul li
{
  display: inline;
  margin-right: 20px;
}

a
{
  text-decoration: none;
  color: #999;
}

a:hover
{
  text-decoration:underline;
}

p
{
  font-size: 1.5em;
  line-height: 1.4em;
  color: #333;
}

footer
{
  border-top: 1px solid #d5d5d5;
  font-size: .8em;
}

ul.posts li
{
  list-style: none;
}
