html{
    margin: 0;
    padding: 0;
    background-color: #57606d;
}
title{
    margin: 5em auto;
    margin-top: 1em;
}
body{
  margin: 1em auto;
  margin-top: 1em;
  width: 70%;
  background: #4067a5;
}
nav ul, footer ul{
  font-family: 'Helvetica', 'Arial', 'Sans-Serif';
  padding: opx;
  list-style: none;
  font-weight: bold;
}
nav ul li{
  display: inline;
  margin-right: 20px;  
} 
footer ul li{
  display: inline;
  margin-right: 20px;
}
a {
  text-decoration: none;
  color: #999;
}
a:hover{
  text-decoration:underline;
}
p {
  font-size: 1.5em;
  line-height: 1.4em;
  color: #333;
}
footer {
  border-top: 1px solid #d5d5d5;
  font-size: .8em;
}

ul.posts li{
  list-style: none;
}
.WordsPics{
    position: relative;
    text-align: center;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.Pics{
    position: relative;
    text-align: center;
    color: white;
}