header{
    
}

header ul li{
    color: #77C9D4;
    font-size: 3vw;
}

nav ul
{
    font-family: 'Open Sans', sans-serif;
    padding: 0px;
    margin: 0px;
    list-style: none;
    font-weight: bold;
    font-size: 2vw;
    display: flex;
    justify-content: space-between;
}

nav ul li
{
    display: inline;
    margin: auto;
}

.content
{
	padding-top: 0;
	padding-bottom: 0;
}

.content ul
{
	margin: 0;
	padding: 0;
	font-size: 0;
}

.content ul li
{
	list-style: none;
	display: inline-block;
	width: 33%;
	height: 15vw;
}

body
{
	background-color: #F9F9F9;
    color: #77C9D4;

    font-family: 'Montserrat', sans-serif;
    font-size: 1vw;

    line-height: 1.5;

    text-align: center;

    margin: 0;
    padding: 0;
}

.banner{
    height: 50vw;
    width: 50vw;
    display: block;
	background-size: cover;
	background-position: center;
	position: relative;
}

.banner logo{
    position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.banner logo img{
    width: 90%;
    height: 90%;
}

.banner .overlay
{
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: #000;
	opacity: 0.0;
	z-index: 1;
	transition: .15s;
}

.banner:hover > .overlay
{
	opacity: 0.5;
}

.Posts{
    display: inline-block;
}

footer{
    font-size: 3vw;
    text-align: center;
}

footer ul
{
    list-style: none;

	padding: 0;
	margin: 0;
}

footer ul li
{
    list-style: none;
    display: inline-block;
    margin: 1vw;
}

footer img{
    width: 2vw;
    height 2vw;
}