header{
    
}

header ul li{
    color: #77C9D4;
    font-size: 3vw;
}

nav ul
{
    font-family: 'Open Sans', sans-serif;
    padding: 0px;
    margin: 0px;
    list-style: none;
    font-weight: bold;
    font-size: 2vw;
    display: flex;
    justify-content: space-between;
}

nav ul li
{
    display: inline;
    margin: auto;
}

body{
    background-color: #F9F9F9;
    font-family: 'Open Sans', sans-serif;
}

.banner{
    height: 4vw;
    width: 4vw;
}
.banner logo{
    height: auto;
    width: auto;
}

.Posts{
    display: inline-block;
}

footer{
    font-size: 3vw;
}

footer ul{
    display: inline-block;
}

footer ul li{
    height: .5vw;
    width: .5vw;
}