<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <!-- link to main stylesheet -->
        <link rel="stylesheet" type="text/css" href="/css/main.css">
    </head>
    
    <body>
        <div id="profilePicture">
            <img src="../assets/images/Me_Hat.png" class="center">
            <h1 class="center">Gavin Camlin</h1>
        </div>
        
        <nav>
            <ul>
                <li><a href="/">Games</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="https://twitter.com/GavinCamlin">Twitter</a></li>
                <li><a href="https://www.linkedin.com/in/gavincamlin/">Linkedin</a></li>
            </ul>
        </nav>
        <div class="container">
        
            {{ content }}
            
        </div><!-- /.container -->
        <footer>
                <p>
                Copyright © 2018-2019 Gavin Camlin, all rights reserved.
                </p>
                
                <p>
                All content and trademarks are property of their respective owners.
                </p>
        </footer>
        
    </body>
</html>