---
layout: meta
---

<body>
  <header>
  </header>

  <nav>
    <div class="container">
      <ul>
        <li><a href="/">Games</a></li>
        <li><a href="/about.html">About</a></li>
        <li><a href="https://twitter.com/GavinCamlin" target="_blank">Twitter</a></li>
        <li><a href="https://linkedin.com/in/gavin-camlin/" target="_blank">LinkedIn</a></li>
      </ul>
    </div>
  </nav>

  <div class="content">
    {{ content }}
  </div>

  <footer>
    <div class="container">
      <p>Copyright &copy; Gavin Camlin, all rights reserved&period;</p>
    </div>
  </footer>
</body>
