<!DOCTYPE html>
<html>
	<head>
        <meta name="Gavin Camlin" content="List of games and information about Gavin Camlin">
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/about/index.html">About</a></li>
			<li><a href="/games/index.html">Games</a></li>
			<!--<li><a href="/blog">Blog</a></li>-->
		</ul>
		</nav>
		<div class="container">
        <img scr=GameName
		{{ content }}
    
		</div><!-- /.container -->
				<footer>
                <p>
                    Copyright &copy; Gavin Camlin, all rights reserved&period;
                </p>
				</footer>
					
	</body>

</html>