---
layout: default
---
<div class="post">
    <div class="banner" style="background-image:url({{ page.banner }});">
        <img class="logo center" src="{{ page.logo }}">
    </div> <!--- end of banner --->
    
    <ul>
        <li class="textCol">
            <ul class="postInfo">
                <li class="leftCol">
                    <h3>Information</h3>
                    <p>
                        <b>Status</b>
                        {{ page.status }}
                    </p>
                    <p>
                        <b>Genre</b>
                        {{ page.genre }}
                    </p>
                    <p>
                        <b>Company</b>
                        <a href="{{ page.companyURL }}">{{ page.company }}</a>
                    </p>
                </li> <!--- end of leftCol --->
                <li class="rightCol">
                    <h3>Development</h3>
                    <p>
                        <b>Role</b>
                        {{ page.role }}
                    </p>
                    <p>
                        <b>Tools</b>
                        {{ page.tools }}
                    </p>
                    <p>
                        <b>Team Size</b>
                        {{ page.teamSize }}
                    </p>
                </li>
            </ul> <!--- End of postInfo --->
            
            <div class="description">
                    {{ content }}
            </div> <!--- End of description --->
            
        </li>
            
        {%- if page.platform == "mobileVertical" -%}
        <div class="imageCol">
            <ul class="screenshots">
                {%- for screenshot in page.screenshots -%}
                    <li class="mobileVertical">
                        <img src="{{ screenshot }}">
                    </li>
                {%- endfor -%}
            </ul>
        </div>
        {%- endif -%}
        
        {%- if page.platform == "mobileHorizontal" -%}
        <div class="imageCol">
            <ul class="screenshots">
                {%- for screenshot in page.screenshots -%}
                    <li class="mobileHorizontal">
                        <img src="{{ screenshot }}">
                    </li>
                {%- endfor -%}
            </ul>
        </div>
        {%- endif -%}
        
        {%- if page.platform == "pc" -%}
        <div class="imageCol">
            <ul class="screenshots">    
                {%- for screenshot in page.screenshots -%}
                    <li class="pc">   
                        <img src="{{ screenshot }}">
                    </li>
                {%- endfor -%}
            </ul>
        </div>
        {%- endif -%}
        
    </ul>
</div> <!--- end of post --->