---
layout: default
---
<div class="content">
<a href="{{ page.url }}" title="{{ page.title }}">
	<div style="height: 15vw;background-image:url({{ page.banner }});"  class="banner">
		<div class="logo"><img src="{{ page.logo }}" alt="{{ page.title }}"></div>
	</div>
</a>

<div class="area">
	<div class="container">
		<div class="post">
			<h2>{{ page.title }}</h2>
			<p class="meta">{{ page.date | date: "%m/%d/%Y" }}</p>
			<hr>
		</div>
        <div>{{ content }}</div>
		<div class="screenshots">
			{% for screenshots in page.screenshots %}
				<img style="max-width: 100%;" src = {{ screenshots }}>
				{% endfor %}
		</div>
	</div>
</div>
</div>
